<div class="breadcrumbs shadow-1">
    <div class="container">
        <div class="row">
            <i class="material-icons">poll</i>
            <ul>
                <li>统计</li>

            </ul>
        </div>
    </div>
</div>
<div class="body-content">
    <div class="container">
        <div class="row">
            <div class=" panel z-depth-1 well">
                <div id="chart" style="height:500px;">

                </div>
            </div>
        </div>
    </div>
    <!--.container-->
</div>
<!--.body-content-->