<div class="breadcrumbs shadow-1">
    <div class="container">
        <div class="row">
            <i class="material-icons">poll</i>
            <ul>
                <li>统计</li>

            </ul>
        </div>
    </div>
</div>
<div class="body-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel z-depth-1 well">
                    <div class="panel-header">
                        <div class="panel-title">
                            <h5><b>网站通过比例</b></h5>
                        </div>
                    </div>
                    <div class="panel-content">
                        <canvas id="websiteAgreeChart" width="400" height="400"></canvas>

                    </div>
                </div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="panel z-depth-1 well">
                <div class="panel-header">
                    <div class="panel-title">
                        <h5><b>单位网站数</b></h5>
                    </div>
                </div>
                <div class="panel-content">
                    <canvas id="websiteCountChart" width="800" height="800"></canvas>

                </div>

            </div>
        </div>
        <!--.container-->
    </div>
    <!--.body-content-->