<div class="breadcrumbs shadow-1">
    <div class="container">
        <div class="row">
            <i class="material-icons">home</i> You are in:
            <ul>
                <li><a href="#">成员详情</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="body-content">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="panel z-depth-1 ">
                    <div class="panel-header ">
                        <div class="panel-title " >
                       
                            <h5><b>成员详情</b></h5>
                         
                        </div>
                    </div>
                    <div class="panel-content ">

                        <div class="row md-padding ">
                            <form class=" ">
                                <div class="col-xs-12 col-md-6 ">
                                    <div class="form-group ">
                                        <label class="col-md-4 ">用户名：</label>
                                        <div class="col-md-8 " >
                      <label style="color:black ">{{messages.data.username}}</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-4 ">用户类型：</label>
                    <div class="col-md-8 " ">
                                            <label style="color:black ">{{messages.data.userType}}</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6 ">
                                    <div class="form-group ">
                                        <label class="col-md-4 ">所属单位：</label>
                                        <div class="col-md-8 " >
                      <label style="color:black ">{{messages.data.organization}}</label>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-4 ">用户ID：</label>
                    <div class="col-md-8 " ">
                                            <label style="color:black ">{{messages.data.id}}</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6 ">
                                    <div class="form-group ">
                                        <label class="col-md-4 ">创建时间：</label>
                                        <div class="col-md-8 " >
                      <label style="color:black ">{{messages.data.time}}</label>
                    </div>
                  </div>
                </div>


 
                                <div class="col-xs-12 col-md-6 ">
                                    <div class="form-group ">
                                        <label class="col-md-4 ">网站管理员数：</label>
                                        <div class="col-md-8 " >
                                            <label style="color:black ">{{messages.data.managerNum}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label for="inputPhone" class="control-label">姓名</label>
                                        <div class="">
                                            <input type="text" class="form-control boxed-input" id="inputPhone" ng-model="messages.data.name" >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label for="inputTel" class="control-label">身份证号</label>
                                        <div class="">
                                            <input type="text" class="form-control boxed-input" id="inputTel" ng-model="messages.data.IDCard">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label for="inputSafety" class="control-label">联系电话</label>
                                        <div class="">
                                            <input type="text" class="form-control boxed-input" id="inputSafety" ng-model="messages.data.tel">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label for="inputPost" class="control-label">联系邮箱</label>
                                        <div class="">
                                            <input type="text" class="form-control boxed-input" id="inputPost" ng-model="messages.data.email">
                                        </div>
                                    </div>
                                </div>


                            </form>
                        </div>
                        <!-- .row -->



                        <div class="row " style="text-align: right; ">
                            <div class="col-md-12 ">
                                <button class="btn btn-secundary " type="submit " name="action ">拒绝
                              </button>

                                <button class="btn btn-raised btn-primary " type="submit ">同意</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--.row-->
    </div>
    <!--.container-->
</div>
<!--.body-content-->