<div class="breadcrumbs shadow-1">
    <div class="container">
        <div class="row">
            <i class="material-icons">insert_comment</i>
            <ul>
                <li> 发布消息</li>

            </ul>


        </div>
    </div>
</div>
<div class="body-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel z-depth-1">
                    <!--div class="panel-header">
                        <div class="panel-title">
                            <h6><b></b></h6>
                        </div>
                    </div-->
                    <div class="panel-content">
                        <form class="" name="addMessageForm">
                            <div class="row md-padding">
                                <div class="col-xs-12 col-md-12">
                                    <div class="form-group" style="margin-top=0px;">
                                        <label for="inputName" class="control-label">标题</label>
                                        <div class="">
                                            <input type="text" name="title" class="form-control boxed-input" id="inputName" value="" ng-model="message.title" required>
                                            <div ng-messages="addMessageForm.title.$error" ng-if="addMessageForm.$submitted || addMessageForm.title.$dirty" ng-messages-multiple="ng-messages-multiple" class="error-messages slide-right">
                                                <div ng-message="required" class="message slide-left">不能为空</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6 g">
                                    <div class="form-group">
                                        <div layout="row">
                                            <label class=" control-label" style="margin-top:2px; margin-right:10px;">消息类型:</label>
                                            <md-radio-group ng-model="message.type" layout="row" redrequired>
                                                <md-radio-button value="公告" class="md-primary">公告</md-radio-button>
                                                <md-radio-button value="规定"> 规定 </md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <div layout="row">
                                            <label for="inputParent" class=" control-label" style="margin-top:2px; margin-right:10px;">有效期</label>

                                            <md-datepicker ng-model="message.timeout" md-placeholder="Enter date"></md-datepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-12">
                                    <div id="summernote">输入公告信息</div>
                                </div>{{message.attachment | filenameFilter}}
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group note-group-select-from-files">

                                        <input id="uploadFile" class="note-image-input form-control" type="file" name="files" accept="*" multiple="multiple">

                                    </div>
                                </div>





                                <div class="col-xs-12 col-md-12">
                                    <div class="form-group" style="text-align: right;">
                                        <div class="">
                                            <div class="checkbox">

                                                <button ng-disabled="addMessageForm.$invalid" class="btn btn-primary" style="color:white;  margin-left: 15px;" ng-click="submit()">确认发布</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .row -->

                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!--.row-->
    </div>
    <!--.container-->
</div>
<!--.body-content-->
