<div class="breadcrumbs shadow-1">
  <div class="container">
    <div class="row">
      <i class="material-icons">home</i> You are in:
      <ul>
        <li><a href="#">单位详情</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="body-content">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 ">
        <div class="panel z-depth-1 ">
          <div class="panel-header ">
            <div class="panel-title " style="width:100%">
              <div style="width:100%">
                <h5><b>部属单位详情</b><md-button  class="md-fab  md-mini md-primary" style="float:right;margin-top:0px; " ui-sref="modifyOrganization"><i class="material-icons">mode_edit</i></md-button>
                                   </h5>
              </div>
            </div>
          </div>
          <div class="panel-content ">

            <div class="row md-padding ">
              <form class=" ">
               <div class="row md-padding">

                <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-5 ">单位名称：</label>
                    <div class="col-md-7 " ">
                      <label style="color:black ">{{messages.data.name}}</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-5 ">单位类型：</label>
                    <div class="col-md-7 " ">
                      <label style="color:black ">{{messages.data.type}}</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-5 ">创建日期：</label>
                    <div class="col-md-7 " ">
                      <label style="color:black ">{{messages.data.time}}</label>
                    </div>
                  </div>
                </div>
                 </div>
                 <div class="row md-padding ">
                <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-5 ">单位分管领导：</label>
                    <div class="col-md-7 " ">
                      <label style="color:black ">{{messages.data.leaderName}}</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-5 ">职务：</label>
                    <div class="col-md-7 " ">
                      <label style="color:black ">{{messages.data.leaderPost}}</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-5 ">手机：</label>
                    <div class="col-md-7 " >
                      <label style="color:black ">{{messages.data.leaderPhone}}</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-5 ">座机：</label>
                    <div class="col-md-7 " >
                      <label style="color:black ">{{messages.data.leaderTel}}</label>
                    </div>
                  </div>
                </div>
</div>
                 <div class="row md-padding ">
                <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-5 ">网络安全管理人：</label>
                    <div class="col-md-7 " ">
                      <label style="color:black ">{{messages.data.secureManagerName}}</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-5 ">职务：</label>
                    <div class="col-md-7 " ">
                      <label style="color:black ">{{messages.data.secureManagerPost}}</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-5 ">手机：</label>
                    <div class="col-md-7 " >
                      <label style="color:black ">{{messages.data.secureManagerPhone}}</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-5 ">座机：</label>
                    <div class="col-md-7 " >
                      <label style="color:black ">{{messages.data.secureManagerTel}}</label>
                    </div>
                  </div>
                </div>
</div>
            <div class="row md-padding ">
                <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-5 ">网络安全联络员：</label>
                    <div class="col-md-7 " ">
                      <label style="color:black ">{{messages.data.secureLiaisonName}}</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-5 ">职务：</label>
                    <div class="col-md-7 " >
                      <label style="color:black ">{{messages.data.secureLiaisonPost}}</label>
                    </div>
                  </div>
                </div>
                 <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-5 ">手机：</label>
                    <div class="col-md-7 " >
                      <label style="color:black ">{{messages.data.secureLiaisonPhone}}</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-5 ">座机：</label>
                    <div class="col-md-7 " >
                      <label style="color:black ">{{messages.data.secureLiaisonTel}}</label>
                    </div>
                  </div>
                </div>
</div>
            </form>
          </div>
          <!-- .row -->





        </div>
      </div>
    </div>
  </div>
  <!--.row-->
   </div>
    <!--.container-->
</div>
<!--.body-content-->