<div class="breadcrumbs shadow-1">
    <div class="container">
        <div class="row">
            <i class="material-icons">settings</i>
            <ul>
                <li>设置</li>
            </ul>
        </div>
    </div>
</div>
<div class="body-content">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 ">
                <div class="panel z-depth-1 ">
                    <!--div class="panel-header ">
                        <div class="panel-title ">
                            <h5><b></b></h5>
                        </div>
                    </div-->
                    <div class="panel-content ">
                        <form name="setting" class="ng-pristine ng-valid ng-submitted" style="">
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>原密码</label>
                                    <input type="password" name="oldPassword" ng-model="information.oldPassword" required>
                                    <div ng-messages="setting.oldPassword.$error.required">
                                        <div ng-message="required">不能为空</div>
                                    </div>
                                </md-input-container>

                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>新密码</label>
                                    <input type="password" ng-model="information.newPassword" required>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>确认新密码</label>
                                    <input type="password" name="confirmNewPassword" ng-pattern="{{information.newPassword}}" ng-model="information.confirmNewPassword" required>
                                    <div ng-messages="setting.confirmNewPassword.$error">
                                        <div ng-message="pattern">密码不相等</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row" layout-align="end center">

                                <md-button class="md-raised md-primary" ng-click="setPassword()" ng-disabled="setting.$invalid">确定</md-button>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--.row-->
    </div>
    <!--.container-->
</div>
<!--.body-content-->