<div class="breadcrumbs shadow-1">
    <div class="container">
        <div class="row">
            <i class="fa fa-sitemap" aria-hidden="true"></i>
            <ul>
                <li>编辑网站</li>
            </ul>
        </div>
    </div>
</div>
<div class="body-content">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="panel z-depth-1 ">
                    <!--div class="panel-header ">
                        <div class="panel-title ">
                            <h5><b></b></h5>
                        </div>
                    </div-->
                    <div class="panel-content ">
                        <form name="modifyWebsite" style="margin-top:40px;">
                            <div style="background-color:rgba(0,100,100,0.1)" layout-padding>
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>备案ID</label>
                                        <input ng-model="information.id" disabled>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>单位名称</label>
                                        <input ng-model="information.organizationName" disabled>
                                    </md-input-container>
                                </div>
                            </div>
                            <div style="background-color:rgba(0,100,100,0.1)" layout-padding>
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>网站名称</label>
                                        <input ng-model="information.websiteName" disabled>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>提交时间</label>
                                        <input ng-model="information.submitTime" disabled>
                                    </md-input-container>
                                </div>
                            </div>
                            <div layout-padding>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>使用状态</label>
                                    <input ng-model="information.useState">
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>状态</label>
                                    <input ng-model="information.state" disabled>
                                    <md-tooltip>
                                        {{information.refuseReason}}
                                    </md-tooltip>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>主页地址</label>
                                    <input ng-model="information.homepage">
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>提交人</label>
                                    <input ng-model="information.submitter" disabled>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>域名列表</label>
                                    <input ng-model="information.domainNameList">
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>网站分类</label>
                                    <input ng-model="information.classify">
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>网站规模</label>
                                    <input ng-model="information.websiteScale">
                                </md-input-container>
                            </div>

                            <div layout-gt-sm="row">

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>用户性质</label>
                                    <input ng-model="information.userProperty">
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>后台互联情况</label>
                                    <input ng-model="information.backgroundInterconnect">
                                </md-input-container>
                            </div>


                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>开发厂商</label>
                                    <input ng-model="information.developer">
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>安全评测单位</label>
                                    <input ng-model="information.securityEvaluationOrganization">
                                </md-input-container>

                            </div>
                            <div style="background-color:rgba(0,0,0,0.1)" layout-padding>
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>备案信息附件 </label> <a href="{{information.attachmentLink}}" class="btn btn-link" style="color:#02A477"><i class="material-icons">file_download</i>
                                    {{information.attachmentLink|filenameFilter}}</a>
                                        <input id="uploadAttachment" type="file" name="files" accept="*" multiple="multiple" required>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>拓扑信息 </label> <a href="{{information.topologyLink}}" class="btn btn-link" style="color:#02A477"><i class="material-icons">file_download</i>
                                    {{information.topologyLink|filenameFilter}}</a>
                                        <input id="uploadTopology" type="file" name="files" accept="*" multiple="multiple" required>
                                    </md-input-container>
                                </div>
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>关键产品使用情况 </label> <a href="{{information.keyProductsLink}}" class="btn btn-link" style="color:#02A477"><i class="material-icons">file_download</i>
                                    {{information.keyProductsLink|filenameFilter}}</a>
                                        <input id="uploadKeyProducts" type="file" name="files" accept="*" multiple="multiple" required>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>安全评测结果 </label><a href="{{information.securityEvaluationResultLink}}" class="btn btn-link" style="color:#02A477"><i class="material-icons">file_download</i>
                                    {{information.securityEvaluationResultLink|filenameFilter}}</a>
                                        <input id="uploadSecurityEvalustionResult" type="file" name="files" accept="*" multiple="multiple" required>
                                    </md-input-container>
                                </div>
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>网站备灾方案</label><a href="{{information.recoveryPlanLink}}" class="btn btn-link" style="color:#02A477"><i class="material-icons">file_download</i>
                                    {{information.recoveryPlanLink|filenameFilter}}</a>
                                        <input id="uploadRecoveryPlan" type="file" name="files" accept="*" multiple="multiple" required>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>等级保护备案信息</label> <a href="{{information.gradeProtectLink}}" class="btn btn-link" style="color:#02A477"><i class="material-icons">file_download</i>
                                    {{information.gradeProtectLink|filenameFilter}}</a>
                                        <input id="uploadGradeProtect" type="file" name="files" accept="*" multiple="multiple" required>
                                    </md-input-container>
                                </div>
                            </div>




                        </form>
                    </div>
                    <div class="row " style="text-align: right; ">
                        <div class="col-md-12 ">
                            <button class="btn btn-secundary " name="action" ng-click="saveWebsite()">保存</button>

                            <button ng-disabled="modifyWebsite.$invalid" class="btn btn-raised btn-primary " ng-click="saveAndsubmitWebsite()">保存并提交</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--.row-->
    </div>
    <!--.container-->
</div>
<!--.body-content-->