<div class="breadcrumbs shadow-1">
  <div class="container">
    <div class="row">
      <i class="material-icons">home</i>
      <ul>
        <li>网站管理</li>
      </ul>
    </div>
  </div>
</div>
<div class="body-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel z-depth-1 ">
          <div class="panel-header">
            <div class="panel-title " style="width:100%">

              <div style="width:100%">
                <h5><b>网站管理</b><md-button  class="md-fab  md-mini md-primary" style="float:right;margin-top:0px; " ui-sref="addWebsite"><i class="material-icons">add_to_queue</i></md-button>
                                    
                               </h5>
              </div>
            </div>

          </div>
          <div class="panel-content">
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4">
                <!--div class="form-group" style="margin-top:10px;">
                  <label for="filter" class=" col-md-4 control-label">筛选：</label>

                  <div class="col-md-8">
                    <select id="filter" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                  </div>
                  <span class="material-input"></span></div>
                <div class="form-group">

                  <label for="inputEmail " class="col-md-4 control-label ">单位名称:</label>

                  <div class="col-md-8 ">
                    <input type="email " class="form-control " id="inputEmail " placeholder=" ">
                  </div>
                  <span class="material-input "></span><span class="material-input "></span></div-->
                <div class="form-group col-md-12" style="margin-top:10px;">
                  <label for="filter" class=" col-md-3 control-label">状态：</label>

                  <div class="col-md-9">
                    <select id="filter" class="form-control" ng-model="state">
                    <option>待审核</option>
                    <option>通过审核</option>
                    <option>驳回申请</option>
                  </select>
                  </div>
                  <span class="material-input"></span>
                </div>
                <div class="form-group col-md-12" style="margin-top:0px;">
                  <md-input-container class="md-block" flex-gt-sm style="margin-top:0px;">
                    <label class="control-label">单位名称:</label>
                    <md-select ng-model="organizationName">
                      <md-option ng-repeat="organization in organizations.docs" value="{{organization.name}}">
                        {{organization.name}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                </div>
              </div>

              <div class="col-sm-12 col-md-3 col-lg-3 ">
                <div class="form-group " style="margin-top:10px; ">
                  <label for="inputTimeFrom " class=" control-label ">提交时间 从</label>
                  <div class=" ">
                    <md-datepicker ng-model="startDate " md-placeholder="Enter date " id="inputRegional "></md-datepicker>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-3 col-lg-3 ">
                <div class="form-group " style="margin-top:10px; ">
                  <label for="inputFilial " class=" control-label ">到</label>
                  <div class=" ">

                    <md-datepicker ng-model="endDate " md-placeholder="Enter date " id="inputFilial "></md-datepicker>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-2 ">
                <div class="form-group ">
                  <div class=" ">
                    <button class="btn btn-raised btn-primary " title=" " ng-click="search()"><i class="material-icons " style="top:3px;position: relative; ">search</i></button>
                  </div>
                </div>
              </div>

            </div>
            <div class="row ">
              <div class="col-md-12 container ">
                <div ng-cloak=" ">
                  <md-content>
                    <md-tabs md-dynamic-height=" " md-border-bottom=" ">
                      <md-tab label="网站审核 ">
                        <md-content layout-padding>
                          <md-table-container>
                            <table md-table md-row-select multiple ng-model="selected " md-progress="promise ">
                              <thead md-head md-order="query.order ">
                                <tr md-row>
                                  <th md-column><span>备案ID</span></th>
                                  <th md-column><span>单位名称</span></th>
                                  <th md-column>网站名称</th>
                                  <th md-column>提交时间</th>
                                  <th md-column>审核状态</th>
                                </tr>
                              </thead>
                              <tbody md-body>
                                <tr md-row md-select="dessert " md-select-id="name " md-auto-select ng-repeat="website in websites.docs " class="table-row ">
                                  <td md-cell><a style="color:green " href="# " ui-sref="websiteDetail({id:website._id}) ">{{website._id}}</a></td>
                                  <td md-cell>{{website.organizationName}}</td>
                                  <td md-cell>{{website.websiteName}}</td>
                                  <td md-cell>{{website.submitTime}}</td>
                                  <td md-cell>
                                    <p>{{website.state}}
                                      <md-tooltip md-direction="left">
                                        {{website.refuseReason}}
                                      </md-tooltip>
                                    </p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </md-table-container>
                          <md-table-pagination md-label="{page: '页:', rowsPerPage: '每页行:', of: '/'} " md-limit="query.limit " md-limit-options="[5, 10, 15] " md-page="query.page " md-total="{{websites.total}} " md-on-paginate="getWebsites " md-page-select></md-table-pagination>
                        </md-content>
                      </md-tab>
                      <md-tab label="安全评审管理 ">
                        <md-content layout-padding>
                          <md-table-container>
                            <table md-table md-row-select multiple ng-model="selected " md-progress="promise ">
                              <thead md-head md-order="query.order ">
                                <tr md-row>
                                  <th md-column><span>备案ID</span></th>
                                  <th md-column><span>单位名称</span></th>
                                  <th md-column>网站名称</th>
                                  <th md-column>提交时间</th>
                                  <th md-column>审核状态</th>
                                  <th md-column ng-show="user.userType=='系统管理员'"> 操作</th>
                                  <th md-column ng-show="user.userType=='部属单位网站管理员'"> 操作</th>
                                </tr>
                              </thead>
                              <tbody md-body>
                                <tr md-row md-select="dessert " md-select-id="name " md-auto-select ng-repeat="website in websites.docs " class="table-row ">
                                  <td md-cell>{{website._id}}</td>
                                  <td md-cell>{{website.organizationName}}</td>
                                  <td md-cell>{{website.websiteName}}</td>
                                  <td md-cell>{{website.submitTime}}</td>
                                  <td md-cell>{{website.securityEvalustionReportState}}</td>
                                  <td md-cell ng-show="user.userType=='系统管理员'">
                                    <a href="{{website.securityEvalustionReportLink}} "><i class="material-icons ">attach_file</i></a>
                                    <i class="material-icons " ng-click="agreeSER(website) " style="color:green">thumb_up</i>
                                    <i class="material-icons " style="color:red " ng-click="refuseSER(website) ">pan_tool</i>

                                    <!--input id="{{website._id}}S" style="opacity: 0;filter: alpha(opacity=0);" ng-mouseenter="showUploadSecurityEvalustionReport(website)" type="file" name="files" accept="*" multiple="multiple"-->

                                  </td>
                                  <td md-cell ng-show="user.userType=='部属单位网站管理员'">

                                    <input id="{{website._id}}S" style="opacity: 0;filter: alpha(opacity=0);" ng-mouseenter="showUploadSecurityEvalustionReport(website)" type="file" name="files" accept="*" multiple="multiple">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </md-table-container>
                          <md-table-pagination md-label="{page: '页:', rowsPerPage: '每页行:', of: '/'} " md-limit="query.limit " md-limit-options="[5, 10, 15] " md-page="query.page " md-total="{{websites.total}} " md-on-paginate="getWebsites " md-page-select></md-table-pagination>
                        </md-content>
                      </md-tab>
                      <md-tab label="网站整改管理 ">
                        <md-content layout-padding>
                          <md-table-container>
                            <table md-table md-row-select multiple ng-model="selected " md-progress="promise ">
                              <thead md-head md-order="query.order ">
                                <tr md-row>
                                  <th md-column><span>备案ID</span></th>
                                  <th md-column><span>单位名称</span></th>
                                  <th md-column>网站名称</th>
                                  <th md-column>提交时间</th>
                                  <th md-column>审核状态</th>
                                  <th md-column ng-show="user.userType=='系统管理员'"> 操作</th>
                                  <th md-column ng-show="user.userType=='部属单位网站管理员'"> 操作</th>
                                </tr>
                              </thead>
                              <tbody md-body>
                                <tr md-row md-select="dessert " md-select-id="name " md-auto-select ng-repeat="website in websites.docs " class="table-row ">
                                  <td md-cell>{{website._id}}</td>
                                  <td md-cell>{{website.organizationName}}</td>
                                  <td md-cell>{{website.websiteName}}</td>
                                  <td md-cell>{{website.submitTime}}</td>
                                  <td md-cell>{{website.reformReportState}}</td>
                                  <td md-cell ng-show="user.userType=='系统管理员'">
                                    <a href="{{website.reformReportLink}} "><i class="material-icons ">attach_file</i></a>
                                    <a> <i class="material-icons " style="color:green " ng-click="agreeRR(website)">thumb_up</i></a>
                                    <a> <i class="material-icons " style="color:red " ng-click="refuseRR(website) ">pan_tool</i></a>
                                  </td>
                                  <td md-cell ng-show="user.userType=='部属单位网站管理员'">

                                    <input id="{{website._id}}R" style="opacity: 0;filter: alpha(opacity=0);" ng-mouseenter="showUploadReformReport(website)" type="file" name="files" accept="*" multiple="multiple">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </md-table-container>
                          <md-table-pagination md-label="{page: '页:', rowsPerPage: '每页行:', of: '/'} " md-limit="query.limit " md-limit-options="[5, 10, 15] " md-page="query.page " md-total="{{websites.total}} " md-on-paginate="getDesserts " md-page-select></md-table-pagination>


                        </md-content>
                      </md-tab>
                    </md-tabs>
                  </md-content>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--.row-->

  </div>
  <!--.container-->
</div>
<!--.body-content-->