<div class="breadcrumbs shadow-1">
    <div class="container">
        <div class="row">
            <i class="material-icons">home</i> You are in:
            <ul>
                <li><a href="#">网站详情</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="body-content">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="panel z-depth-1 ">
                    <div class="panel-header ">
                        <div class="panel-title ">
                            <h5><b>网站详情</b></h5>
                        </div>
                    </div>
                    <div class="panel-content ">

                        <div class="row md-padding ">
                            <form class=" ">
                                <div class="col-xs-12 col-md-6 ">
                                    <div class="form-group ">
                                        <label class="col-md-4 ">网站备案ID：</label>
                                        <div class="col-md-8 " >
                      <label style="color:black ">{{messages.data.id}}</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-4 ">单位名称：</label>
                    <div class="col-md-8 " >
                                            <label style="color:black ">{{messages.data.organizationName}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 ">
                                    <div class="form-group ">
                                        <label class="col-md-4 ">网站名称：</label>
                                        <div class="col-md-8 " >
                      <label style="color:black ">{{messages.data.websiteName}}</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-4 ">提交时间：</label>
                    <div class="col-md-8 " ">
                                            <label style="color:black ">{{messages.data.submitTime}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 ">
                                    <div class="form-group ">
                                        <label class="col-md-4 ">使用状态：</label>
                                        <div class="col-md-8 " >
                      <label style="color:black ">{{messages.data.useState}}</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-4 ">状态：</label>
                    <div class="col-md-8 " >
                                            <label style="color:black ">{{messages.data.state}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 ">
                                    <div class="form-group ">
                                        <label class="col-md-4 ">主页地址：</label>
                                        <div class="col-md-8 " >
                      <label style="color:black ">{{messages.data.homepage}}</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-4 ">提交人：</label>
                    <div class="col-md-8 " ">
                                            <label style="color:black ">{{messages.data.submitter}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-12 ">
                                    <div class="form-group ">
                                        <label class="col-md-4 ">域名列表：</label>
                                        <div class="col-md-8 " >
                      <label style="color:black ">{{messages.data.domainNameList}}</label>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-4 ">网站规模：</label>
                    <div class="col-md-8 " >
                                            <label style="color:black ">{{messages.data.websiteScale}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 ">
                                    <div class="form-group ">
                                        <label class="col-md-4 ">网站分类：</label>
                                        <div class="col-md-8 " >
                      <label style="color:black ">{{messages.data.classify}}</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-4 ">用户性质：</label>
                    <div class="col-md-8 " ">
                                            <label style="color:black ">{{messages.data.userProperty}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 ">
                                    <div class="form-group ">
                                        <label class="col-md-4 ">备案信息附件：</label>
                                        <div class="col-md-8 " ">
                      <label style="color:black "><a href="{{messages.data.attachment}}" class="btn btn-link"><i class="material-icons">file_download</i></a></label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-4 ">开发维护厂商：</label>
                    <div class="col-md-8 " ">
                                            <label style="color:black ">{{messages.data.developer}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 ">
                                    <div class="form-group ">
                                        <label class="col-md-4 ">拓扑信息：</label>
                                        <div class="col-md-8 " ">
                      <label style="color:black "><a href="{{messages.data.topology}}" class="btn btn-link"><i class="material-icons">file_download</i></a></label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-4 ">后台互联情况：</label>
                    <div class="col-md-8 " ">
                                            <label style="color:black ">{{messages.data.backgroundInterconnect}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 ">
                                    <div class="form-group ">
                                        <label class="col-md-4 ">关键产品使用情况：</label>
                                        <div class="col-md-8 " ">
                      <label style="color:black "><a href="{{messages.data.keyProducts}}" class="btn btn-link"><i class="material-icons">file_download</i></a></label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-4 ">安全评测单位：</label>
                    <div class="col-md-8 " ">
                                            <label style="color:black ">{{messages.data.securityEvaluationOrganization}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 ">
                                    <div class="form-group ">
                                        <label class="col-md-4 ">安全评测结果：</label>
                                        <div class="col-md-8 " ">
                      <label style="color:black "> <a href="{{messages.data.securityEvalustionResult}}" class="btn btn-link"><i class="material-icons">file_download</i></a></label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 ">
                  <div class="form-group ">
                    <label class="col-md-4 ">网站备灾方案：</label>
                    <div class="col-md-8 " ">
                                            <label style="color:black "><a href="{{messages.data.recoveryPlan}}" class="btn btn-link"><i class="material-icons">file_download</i></a></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 ">
                                    <div class="form-group ">
                                        <label class="col-md-4 ">等级保护备案信息：</label>
                                        <div class="col-md-8 " ">
                      <label style="color:black "><a href="{{messages.data.gradeProtect}}" class="btn btn-link"><i class="material-icons">file_download</i></a></label>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-md-12 ">
                  <div class="form-group ">
                    <h5><b>相关附件</b></h5>
                    <div class="col-md-12 ">
                      <label style="color:black ">安全测评报告</lable><a href="{{messages.data.securityEvalustionReport}}" class="btn btn-link"><i class="material-icons">file_download</i></a>
                  </div>
                  <div class="col-md-12 ">
                    <label style="color:black ">网站整改报告</lable><a href="{{messages.data.reformReport}}" class="btn btn-link"><i class="material-icons">file_download</i></a>
                  </div>

                </div>
              </div>

            </form>
          </div>
          <!-- .row -->

          <div class="row ">
            <div class="col-md-12 ">
              <div class="panel z-depth-1 ">
                <div class="panel-header ">
                  <div class="panel-title ">
                    <h6>操作日志</h6>
                  </div>
                </div>
                <div class="panel-content ">

                  <div class="row ">
                    <div class="col-md-12 ">

                    <div class="table-responsive md-padding ">
                      <table id="dataTable " class="table table-hover table-striped table-bordered ">
                        <thead>
                          <tr>
                            
                            <th>时间</th>
                            <th>用户类型</th>
                            <th>用户名</th>
                            <th>操作</th>
                          </tr>
                        </thead>
                        <tbody ng-repeat="log in logs.data">

                          <tr class="table-row ">
                            <td>{{log.time}}</td>
                            <td>{{log.userType}}</td>
                            <td>{{log.username}}</td>
                            <td>{{log.action}}</td>
                          </tr>



                        </tbody>
                      </table>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--.row-->

          <div class="row " style="text-align: right; ">
            <div class="col-md-12 ">
              <button class="btn btn-secundary " type="submit " name="action ">驳回申请
                              </button>

              <button class="btn btn-raised btn-primary " type="submit ">通过审核</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--.row-->
   </div>
    <!--.container-->
</div>
<!--.body-content-->