<div class="breadcrumbs shadow-1">
    <div class="container">
        <div class="row">
            <i class="material-icons">home</i> You are in:
            <ul>
                <li>添加网站</li>
            </ul>
        </div>
    </div>
</div>
<div class="body-content">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="panel z-depth-1 ">
                    <div class="panel-header ">
                        <div class="panel-title ">
                            <h5><b>添加网站</b></h5>
                        </div>
                    </div>
                    <div class="panel-content ">
                        <form>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label class=" control-label">网站名称</label>
                                    <input ng-model="information.websiteName">
                                </md-input-container>
                            </div>

                            <div layout-gt-sm="row">
                                <div flex layout="row">
                                    <label class=" control-label" style="margin-top:2px; margin-right:10px;">使用状态:</label>
                                    <md-radio-group ng-model="information.useState" layout="row">
                                        <md-radio-button value="正常运营" class="md-primary">正常运营</md-radio-button>
                                        <md-radio-button value="已关闭"> 已关闭 </md-radio-button>
                                    </md-radio-group>
                                </div>



                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label class=" control-label">主页地址</label>
                                    <input ng-model="information.homepage">
                                </md-input-container>

                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label class=" control-label">域名列表</label>
                                    <input ng-model="information.domainNameList">
                                </md-input-container>

                            </div>
                            <div layout-gt-sm="row">
                                <div flex layout="row">
                                    <label class=" control-label" style="margin-top:2px; margin-right:10px;">网站分类</label>
                                    <md-radio-group ng-model="information.classify" layout="row">
                                        <md-radio-button value="门户" class="md-primary">门户</md-radio-button>
                                        <md-radio-button value="业务系统"> 业务系统 </md-radio-button>
                                    </md-radio-group>
                                </div>

                                <div flex layout="row">
                                    <label class=" control-label" style="margin-top:2px; margin-right:10px;">用户群:</label>
                                    <md-radio-group ng-model="information.userProperty" layout="row">
                                        <md-radio-button value="本单位" class="md-primary">本单位</md-radio-button>
                                        <md-radio-button value="面向社会"> 面向社会 </md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label class=" control-label">开发厂商</label>
                                    <input ng-model="information.developer">
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label class=" control-label">后台互联情况</label>
                                    <input ng-model="information.backgroundInterconnect">
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <div flex>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label class=" control-label">安全评测单位</label>
                                    <input ng-model="information.securityEvaluationOrganization">
                                </md-input-container>
                                </div>
                                <div flex>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label class=" control-label">网站规模</label>
                                        <input ng-model="information.websiteScale">
                                    </md-input-container>
                                </div>
                            </div>
                            <div layout-gt-sm="row">
                                <div flex>
                                    <label class=" control-label">备案信息附件 </label>
                                    <input id="uploadAttachment" type="file" name="files" accept="*" multiple="multiple">
                                </div>
                                <div flex>
                                    <label class=" control-label">拓扑信息 </label>
                                    <input id="uploadTopology" type="file" name="files" accept="*" multiple="multiple">
                                </div>
                            </div>
                            <div layout-gt-sm="row">
                                <div flex>
                                    <label class=" control-label">关键产品使用情况 </label>
                                    <input id="uploadKeyProducts" type="file" name="files" accept="*" multiple="multiple">
                                </div>
                                <div flex>
                                    <label class=" control-label">安全评测结果 </label>
                                    <input id="uploadSecurityEvalustionResult" type="file" name="files" accept="*" multiple="multiple">
                                </div>
                            </div>
                            <div layout-gt-sm="row">
                                <div flex>
                                    <label class=" control-label">网站备灾方案</label>
                                    <input id="uploadRecoveryPlan" type="file" name="files" accept="*" multiple="multiple">
                                </div>
                                <div flex>
                                    <label class=" control-label">等级保护备案信息</label>
                                    <input id="uploadGradeProtect" type="file" name="files" accept="*" multiple="multiple">
                                </div>
                            </div>


                        </form>
                    </div>



                    <div class="row " style="text-align: right; ">
                        <div class="col-md-12 ">
                            <button class="btn btn-secundary " type="submit " name="action " ng-click="save()">保存</button>

                            <button class="btn btn-raised btn-primary " type="submit " ng-click="saveAndsubmit()">保存并提交</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--.row-->
</div>
<!--.container-->
</div>
<!--.body-content-->